body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}
.header-div {
    display: flex;
}
.header-nav {
    display: flex;
}
.head-nav {
    margin-right: 332px;
    padding: 24px 0;
    gap: 40px;
    display: flex;
}
.head-contacts {
    padding: 24px 0;
    display: flex;
}

a {
    text-decoration: none;
    color: currentColor;
}
.link-mark {
    display: block;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.link-mark:hover, :focus{
    color: #404bbf;

}
ul {
    list-style-type: none;
}
.header-logo {
    margin-left: 156px;
    margin-right: 76px;
    padding-top: 25.5px;
    color: #4d5ae5;
    text-decoration: none;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}
.logo {
color:#2e2f42 ;
}
.contacts {
    gap: 40px;
    font-style: normal;
}
.link-contacts {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link-contacts:hover, :focus{
    color: #404bbf;
}
.wrap {
    
}
.title-div {
    border-top: 1px solid #434455;
    width: 1440px;
    background-color: #2E2F42;
}
.title {
    padding-bottom: 48px;
    padding-top: 188px;
    margin-right: 472px;
    margin-left: 479px;
    width: 496px;
    display: flex;
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    word-wrap: break-word
}
.button {
    margin-bottom: 188px;
    margin-left: 636px;
    border-radius: 4px;
    height: 56px;
    width: 169px;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word; 
}
.button:hover, :focus {
    background-color: #404BBF;
}
.section-team {
    background-color: #F4F4FD; 
}
.cards {
   padding: 120px;
}
.cards-advent {
    gap: 24px;
    display: flex;
}
.subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.caption {
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    background-color: #F4F4FD;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.people {
    background-color: #FFFFFF;
}
.text {
    color: #434455;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.foot {
    background-color: #2e2f42;
}
.footer-logo {
    color: #4d5ae5;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.f-logo {
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.foot-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word
}