body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-div {
    
    display: flex;
}
.header-nav {
    align-items: center;
    display: flex;
}
.head-nav {
    margin-right: 332px;
    padding: 24px 0;
    gap: 40px;
    display: flex;
}
.head-contacts {
    gap: 40px;
    padding: 24px 0;
    display: flex;
}

a {
    text-decoration: none;
    color: currentColor;
}
.link-mark {
    padding: 24px 0;
    display: block;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.link-mark:hover, :focus{
    color: #404bbf;

}
ul {
    list-style-type: none;
}
.header-logo {
    margin-left: 156px;
    margin-right: 76px;
    padding-top: 25.5px;
    color: #4d5ae5;
    text-decoration: none;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}
.logo {
color:#2e2f42 ;
}
.contacts {
    gap: 40px;
    font-style: normal;
}
.link-contacts {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link-contacts:hover, :focus{
    color: #404bbf;
}
.visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
}
.title-div {
    width: 1440px;
    background-color: #2E2F42;
}
.title {
    padding-bottom: 48px;
    padding-top: 188px;
    margin-right: 472px;
    margin-left: 479px;
    width: 496px;
    display: flex;
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    word-wrap: break-word
}
.button {
    margin-bottom: 188px;
    margin-left: 636px;
    border-radius: 4px;
    height: 56px;
    width: 169px;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word; 
}
.button:hover, :focus {
    background-color: #404BBF;
}
.section-team {
    padding: 120px;
    background-color: #F4F4FD; 
}
.cards {
   padding: 120px;
}
.cards-advent {
    gap: 24px;
    display: flex;
}
.subtitle {
    margin-bottom: 8px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.subtitle-team {
    margin: 32px 65px 8px;
    color: #2e2f42;
}
.caption {
    padding: 120px;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    background-color: #F4F4FD;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.team-caption {
    gap: 24px;
    justify-content: center;
    display: flex;

}
.people {
    width: 264px;
    background-color: #FFFFFF;
}
.text {
    color: #434455;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.text-team {
    margin: 0 68px 32px;
}
.caption-portfolio {
    padding: 120px 0 72px;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
.portfolio-block {
    margin-bottom: 120PX;
    justify-content: cener;
    flex-wrap: wrap;
    gap: 24px;
    display: flex;
}
.portfolio-images {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    width: calc((100% - 24px * 4) / 3)
    
}
.subtitle-port {
    margin: 32px 0 8px 16px;

}
.text-port {
    margin-bottom: 32px;
    margin-left: 16px;
}
.foot {
    padding: 100px 0;
    background-color: #2e2f42;
}
.footer-logo {
    margin-left: 156px;
    color: #4d5ae5;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.f-logo {
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.foot-text {
    margin-top: 18px;
    margin-left: 156px;
    width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word
}